@import "tailwindcss" source("../src");

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

html, body {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}